<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Roboto:wght@400;500&display=swap");

body{
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Roboto:wght@400;500&display=swap");

body{
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
>>>>>>> 72a3c68e5193a2c36b57e7939b4c3e75bd7531ab
}